
/* React Split */
.split {
    display: flex;
    flex-direction: row;
}

.gutter {
    background-color: #8e8e8e;
    background-repeat: no-repeat;
    background-position: 50%;
    z-index: 2000;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}


/* JSX Syntax Highligt */

.JSXElement.JSXText.JSX-text {

    color: #ffffff;
}

.JSXElement.JSXBracket.JSX-bracket{

    color: #808080;
}

.JSXElement.JSXIdentifier.JSX-indentifier {
 
    color: #569cd6;
}

.JSXElement.JSXAttribute.JSX-indentifier {

    color: #9cdcfe;
}